*,
*::before,
*::after {
  --project-align-items: center;
  --project-background-color: aliceblue;
  --project-border: 1px solid #00000015;
  --project-display: flex;
  --project-justify-content: space-between;
  --project-margin-bottom: 0.25rem;
  --project-padding: 0.25rem;
  --project-padding: 0.75rem 0.5rem;
  --project-position: relative;

  --project-hover-background-color: #00000015;
  --project-active-background-color: #00000030;

  --project-img-padding: 0;
  --project-img-border-radius: 50%;
  --project-img-hover-background-color: #00000015;
  --project-img-active-background-color: #00000030;

  --project-form-ul-li-display: grid;
  --project-form-ul-li-padding-bottom: 0.2rem;

  --project-form-ul-li-2nd-child-gap: 0.25rem;
  --project-form-ul-li-2nd-child-grid-template-columns: repeat(2, 1fr);

  --project-form-ul-2nd-li-1st-button-background-color: blue;
  --project-form-ul-2nd-li-1st-button-border: none;
  --project-form-ul-2nd-li-1st-button-color: white;

  --project-form-ul-2nd-li-2nd-button-background-color: yellow;
  --project-form-ul-2nd-li-2nd-button-border: none;
  --project-form-ul-2nd-li-2nd-button-color: black;
  --project-form-2nd-li-button-active-background-color: #00000030;
  --project-form-2nd-li-button-active-color: black;

  --change-project-border-color: white;
  --change-project-border: 1px solid #0000008a;
  --change-project-font-size: clamp(0.75rem, 4vw, 1rem);
  --change-project-max-width: 100%;
  --change-project-padding: 0.5rem 0.5rem;
  --change-project-focus-visible-outline: 1px solid #0011ff80;

  --hide-position: absolute;
  --hide-scale: 0;
  --show-position: static;
  --show-scale: 1;

  --h1-background-color: white;
  --h1-border-bottom: 1px solid #00000015;
  --h1-color: black;
  --h1-font-size: clamp(0.75rem, 5vw, 1.2rem);
  --h1-font-weight: 600;
  --h1-letter-spacing: 1pt;
  --h1-padding: 1rem 0.5rem;

  --project-main-content-button-hover-background-color: #00000015;
  --project-main-content-button-active-background-color: #00000030;
  --project-main-contents-button-align-items: center;
  --project-main-contents-button-background-color: white;
  --project-main-contents-button-border: 0;
  --project-main-contents-button-color: black;
  --project-main-contents-button-display: flex;
  --project-main-contents-button-flex-direction: row-reverse;
  --project-main-contents-button-justify-content: start;
  --project-main-contents-button-margin: 0.75rem;

  --form-ul-background-color: white;
  --form-ul-color: black;
  --form-ul-max-width: 75ch;
  --form-ul-padding: 1rem;
  --form-ul-position: relative;

  --task-name-border-color: white;
  --task-name-border: 1px solid #0000008a;
  --task-name-font-size: clamp(0.75rem, 4vw, 1rem);
  --task-name-max-width: 100%;
  --task-name-padding: 0.5rem 0.5rem;

  --form-ul-1st-li--position: absolute;
  --form-ul-1st-li-right: -10px;
  --form-ul-1st-li-top: -10px;

  --form-ul-1st-li-img-background-color: white;
  --form-ul-1st-li-img-border-radius: 50%;
  --form-ul-1st-li-img-padding: 5px;

  --form-ul-1st-li-img-hover-background-color: #00000015;
  --form-ul-1st-li-img-hover-border-radius: 50%;

  --form-ul-1st-li-img-active-background-color: #00000030;
  --form-ul-1st-li-img-active-border-radius: 50%;

  --form-ul-2nd-li-display: flex;
  --form-ul-2nd-li-flex-direction: column;
  --form-ul-2nd-li-margin-bottom: 1rem;

  --form-ul-2nd-li-text-focus-visible-outline: 1px solid #3636ff;

  --form-ul-3rd-li-display: flex;
  --form-ul-3rd-li-flex-direction: column;
  --form-ul-3rd-li-margin-bottom: 1rem;
  
  --form-ul-3rd-li-text-area-focus-visible-outline: 1px solid #5c5cff;

  --form-ul-4th-li-margin-bottom: 1rem;

  --form-ul-8th-li-display: flex;
  --form-ul-8th-li-flex-direction: column;

  --form-ul-1st-li-label-margin-bottom: 1rem;
  --form-ul-2nd-li-label-margin-bottom: 1rem;
  --form-ul-3rd-li-label-margin-bottom: 1rem;

  --form-ul-li-textarea-border-color: #00000080;
  --form-ul-li-textarea-border: 1px solid #0000008a;
  --form-ul-li-textarea-font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --form-ul-li-textarea-font-size: clamp(0.75rem, 4vw, 1rem);
  --form-ul-li-textarea-height: 10vh;
  --form-ul-li-textarea-max-width: 100%;
  --form-ul-li-textarea-padding: 0.5rem 0.5rem;

  --radio-checked-before-visibility: visible;

  --radio-before-background-color: rebeccapurple;
  --radio-before-border-radius: 50%;
  --radio-before-content: ' ';
  --radio-before-height: 8px;
  --radio-before-position: absolute;
  --radio-before-right: 2px;
  --radio-before-top: 2px;
  --radio-before-visibility: hidden;
  --radio-before-width: 8px;

  --radio-appearance: none;
  --radio-border-radius: 50%;
  --radio-border: 2px solid purple;
  --radio-color: red;
  --radio-height: 1rem;
  --radio-position: relative;
  --radio-vertical-align: -4px;
  --radio-width: 1rem;

  --form-ul-7th-li-margin-bottom: 1rem;

  --form-ul-8th-li-display: flex;
  --form-ul-8th-li-justify-content: end;

  --date-appearance: none;
  --date-border: 1px solid #00000080;
  --date-height: 2rem;
  --date-margin: 1rem 0 1rem 0;
  --date-width: 100%;

  --form-ul-li-button-active-border: 2px solid blue;
  --form-ul-li-button-active-color: blue;

  --form-ul-li-button-border: 2px solid blue;
  --form-ul-li-button-padding: 0.95rem 2.5rem;

  --green-background-color: green;
  --green-color: black;
  --yellow-background-color: yellow;
  --yellow-color: black;
  --red-background-color: red;
  --red-color: black;

  --todo-item-2nd-div-margin-right: auto;

  --todo-item-align-items: center;
  --todo-item-background-color: aliceblue;
  --todo-item-border: 1px solid #00000015;
  --todo-item-display: flex;
  --todo-item-justify-content: space-between;
  --todo-item-margin: 0.5rem;
  --todo-item-padding: 0.5rem 0.25rem;

  --checkbox-checked-before-visibility: visible;

  --checkbox-before-content: '✔️';
  --checkbox-before-font-size: 2em;
  --checkbox-before-left: -3px;
  --checkbox-before-position: absolute;
  --checkbox-before-top: -14px;
  --checkbox-before-visibility: hidden;

  --checkbox-appearance: none;
  --checkbox-background-color: white;
  --checkbox-border: 2px solid #00000080;
  --checkbox-color: blue;
  --checkbox-height: 1em;
  --checkbox-position: relative;
  --checkbox-vertical-align: -4px;
  --checkbox-width: 1em;

  --dialog-background-color: white;
  --dialog-border-radius: 0;
  --dialog-border: 0;
  --dialog-box-shadow: 0 0 5px 5px #00000015;
  --dialog-font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --dialog-min-width: 45ch;

  --todo-item-2nd-div-margin-right: auto;
  --todo-item-3rd-div-height: 1em;
  --todo-item-3rd-div-width: 2em;
  --todo-item-4th-div-padding: 0 0.5rem;
  --todo-item-5th-div-padding: 0 0.5rem 0 0;
  --todo-item-6th-div-padding-right: 0.5rem;

  --todo-item-hover-img-background-color: #00000015;
  --todo-item-active-img-background-color: #00000030;
  --todo-item-img-border-radius: 50%;

  --strikethrough-text-decoration: line-through;
  --strikethrough-color: grey;
}

li.project-list{
  align-items: var(--project-align-items);
  background-color: var(--project-background-color);
  border: var(--project-border);
  display: var(--project-display);
  justify-content: var(--project-justify-content);
  margin-bottom: var(--project-margin-bottom);
  padding: var(--project-padding);
  padding: var(--project-padding);
  position: var(--project-position);
}

.project-list:hover {
  background-color: var(--project-hover-background-color);
}
.project-list:active {
  background-color: var(--project-active-background-color);
}

.project-list > img {
  padding: var(--project-img-padding);
  border-radius: var(--project-img-border-radius);
}

.project-list > img:hover {
  background-color: var(--project-hover-background-color);
}

.project-list  > img:active {
  background-color: var(--project-active-background-color);
}

.project-list > form > ul > li{
  display: var(--project-form-ul-li-display);
  padding-bottom: var(--project-form-ul-li-padding-bottom);
}

.project-list > form > ul > li:nth-child(2){
  gap: var(--project-form-ul-li-2nd-child-gap);
  grid-template-columns: var(--project-form-ul-li-2nd-child-grid-template-columns);
}

.project-list > form > ul > li:nth-child(2) > button:first-child {
  background-color: var(--project-form-ul-2nd-li-1st-button-background-color);
  border: var(--project-form-ul-2nd-li-1st-button-border);
  color: var(--project-form-ul-2nd-li-1st-button-color);
}

.project-list > form > ul > li:nth-child(2) > button:nth-child(2) {
  background-color: var(--project-form-ul-2nd-li-2nd-button-background-color);
  border: var(--project-form-ul-2nd-li-2nd-button-border);
  color: var(--project-form-ul-2nd-li-2nd-button-color);
}


.project-list > form > ul > li:nth-child(2) > button:active {
  background-color: var(--project-form-2nd-li-button-active-background-color);
  color: var(--project-form-2nd-li-button-active-color);
}

input#change_project_name {
  border-color: var(--change-project-border-color);
  border: var(--change-project-border);
  font-size: var(--change-project-font-size);
  max-width: var(--change-project-max-width);
  padding:  var(--change-project-padding);
}

input#change_project_name:focus-visible {
  outline: var(--change-project-focus-visible-outline);
}

.hide {
  position: var(--hide-position);
  scale: var(--hide-scale);
}

.show {
  position: var(--show-position);
  scale: var(--show-scale);
}

h1 {
  background-color: var(--h1-background-color);
  border-bottom: var(--h1-border-bottom);
  color: var(--h1-color);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  padding: var(--h1-padding);
}

.project-main-contents > button:hover {
  background-color: var(--project-main-content-button-hover-background-color);
}

.project-main-contents > button:active {
  background-color: var(--project-main-content-button-active-background-color);
}

.project-main-contents > button {
  align-items: var(--project-main-contents-button-align-items);
  background-color: var(--project-main-contents-button-background-color);
  border: var(--project-main-contents-button-border);
  color: var(--project-main-contents-button-color);
  display: var(--project-main-contents-button-display);
  flex-direction: var(--project-main-contents-button-flex-direction);
  justify-content: var(--project-main-contents-button-justify-content);
  margin: var(--project-main-contents-button-margin);
}

form[data-key] > ul, 
form[data-todo-edit] > ul {
  background-color: var(--form-ul-background-color);
  color: var(--form-ul-color);
  max-width: var(--form-ul-max-width);
  padding: var(--form-ul-padding);
  position: var(--form-ul-position);
}

input#task_name {
  border-color: var(--task-name-border-color);
  border: var(--task-name-border);
  font-size: var(--task-name-font-size);
  max-width: var(--task-name-max-width);
  padding: var(--task-name-padding);
}

form[data-key] > ul > li:nth-child(1),
form[data-todo-edit] > ul > li:nth-child(1) {
  position: var(--form-ul-1st-li--position);
  right: var(--form-ul-1st-li-right);
  top: var(--form-ul-1st-li-top);
}

form[data-key] > ul > li:nth-child(1) > img,
form[data-todo-edit] > ul > li:nth-child(1) > img {
  background-color: var(--form-ul-1st-li-img-background-color);
  border-radius: var(--form-ul-1st-li-img-border-radius);
  padding: var(--form-ul-1st-li-img-padding);
}

form[data-key] > ul > li:nth-child(1) > img:hover, 
form[data-todo-edit] > ul > li:nth-child(1) > img:hover {
  background-color: var(--form-ul-1st-li-img-hover-background-color);
  border-radius: var(--form-ul-1st-li-img-hover-border-radius);
}

form[data-key] > ul > li:nth-child(1) > img:active, 
form[data-todo-edit] > ul > li:nth-child(1) > img:active {
  background-color: var(--form-ul-1st-li-img-active-background-color);
  border-radius: var(--form-ul-1st-li-img-active-border-radius);
}

form[data-key] > ul > li:nth-child(2),
form[data-todo-edit] > ul > li:nth-child(2) {
  display: var(--form-ul-2nd-li-display);
  flex-direction: var(--form-ul-2nd-li-flex-direction);
  margin-bottom: var(--form-ul-2nd-li-margin-bottom);
}

form[data-key] > ul > li > input[type='text']:focus-visible,
form[data-todo-edit] > ul > li > input[type='text']:focus-visible {
  outline: var(--form-ul-2nd-li-text-focus-visible-outline);
}

form[data-key] > ul > li:nth-child(3),
form[data-todo-edit] > ul > li:nth-child(3) {
  display: var(--form-ul-3rd-li-display);
  flex-direction: var(--form-ul-3rd-li-flex-direction);
  margin-bottom: var(--form-ul-3rd-li-margin-bottom);
}

form[data-key] > ul > li > textarea:focus-visible,
form[data-todo-edit] > ul > li > textarea:focus-visible {
  outline: var(--form-ul-3rd-li-text-area-focus-visible-outline);
}

form[data-key] > ul > li:nth-child(4),
form[data-todo-edit] > ul > li:nth-child(4) {
  margin-bottom: var(--form-ul-4th-li-margin-bottom);
}

form[data-key] > ul > li:nth-child(8),
form[data-todo-edit] > ul > li:nth-child(8) {
  display: var(--form-ul-8th-li-display);
  flex-direction: var(--form-ul-8th-li-flex-direction);
}

form[data-key] > ul > li:first-child > label, 
form[data-todo-edit] > ul > li:first-child > label {
  margin-bottom: var(--form-ul-1st-li-label-margin-bottom);
}

form[data-key] > ul > li:nth-child(2) > label, 
form[data-todo-edit] > ul > li:nth-child(2) > label {
  margin-bottom: var(--form-ul-2nd-li-label-margin-bottom);
}

form[data-key] > ul > li:nth-child(3) > label,
form[data-todo-edit] > ul > li:nth-child(3) > label {
  margin-bottom: var(--form-ul-3rd-li-label-margin-bottom);
}

form[data-key] > ul > li > textarea,
form[data-todo-edit] > ul > li > textarea {
  border: var(--form-ul-li-textarea-border);
  border-color: var(--form-ul-li-textarea-border-color);
  font-family: var(--form-ul-li-textarea-font-family);
  font-size: var(--form-ul-li-textarea-font-size);
  height: var(--form-ul-li-textarea-height);
  max-width: var(--form-ul-li-textarea-max-width);
  padding: var(--form-ul-li-textarea-padding);
}

input[type='radio']:checked::before {
  visibility: var(--radio-checked-before-visibility);
}

input[type='radio']::before {
  background-color: var(--radio-before-background-color);
  border-radius: var(--radio-before-border-radius);
  content: var(--radio-before-content);
  height: var(--radio-before-height);
  position: var(--radio-before-position);
  right: var(--radio-before-right);
  top: var(--radio-before-top);
  visibility: var(--radio-before-visibility);
  width: var(--radio-before-width);
}
input[type='radio'] {
  appearance: var(--radio-appearance);
  border-radius: var(--radio-border-radius);
  border: var(--radio-border);
  color: var(--radio-color);
  height: var(--radio-height);
  position: var(--radio-position);
  vertical-align: var(--radio-vertical-align);
  width: var(--radio-width);
}

form[data-key] > ul > li:nth-child(7),
form[data-todo-edit] > ul > li:nth-child(7)  {
  margin-bottom: var(--form-ul-7th-li-margin-bottom);
}

form[data-key] > ul > li:nth-child(9),
form[data-todo-edit] > ul > li:nth-child(9) {
  display: var(--form-ul-8th-li-display);
  justify-content: var(--form-ul-8th-li-justify-content);
}

input[type='date'] {
  appearance: var(--date-appearance);
  border: var(--date-border);
  height: var(--date-height);
  margin: var(--date-margin);
  width: var(--date-width);
}

form[data-key] > ul > li > button:active,
form[data-todo-edit] > ul > li > button:active {
  border: var(--form-ul-li-button-active-border);
  color: var(--form-ul-li-button-active-color);
}

form[data-key] > ul > li > button {
  border: var(--form-ul-li-button-border);
  padding: var(--form-ul-li-button-padding);
}

.green {
  background-color: var(--green-background-color);
  color: var(--green-color);
}

.yellow {
  background-color: var(--yellow-background-color);
  color: var(--yellow-color);
}

.orange {
  background-color: var(--red-background-color);
  color: var(--red-color);
}

.todo-item > div:nth-child(2) {
  margin-right: var(--todo-item-2nd-div-margin-right);
}

.todo-item {
  align-items: var(--todo-item-align-items);
  background-color: var(--todo-item-background-color);
  border: var(--todo-item-border);
  display: var(--todo-item-display);
  justify-content: var(--todo-item-justify-content);
  margin: var(--todo-item-margin);
  padding: var(--todo-item-padding);
}

input#checkList:checked::before {
  visibility: var(--checkbox-checked-before-visibility);
}

input#checkList::before {
  content: var(--checkbox-before-content);
  font-size: var(--checkbox-before-font-size);
  left: var(--checkbox-before-left);
  position: var(--checkbox-before-position);
  top: var(--checkbox-before-top);
  visibility: var(--checkbox-before-visibility);
}

input#checkList {
  appearance: var(--checkbox-appearance);
  background-color: var(--checkbox-background-color);
  border: var(--checkbox-border);
  color: var(--checkbox-color);
  height: var(--checkbox-height);
  position: var(--checkbox-position);
  vertical-align: var(--checkbox-vertical-align);
  width: var(--checkbox-width);
}

dialog {
  background-color: var(--dialog-background-color);
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  box-shadow: var(--dialog-box-shadow);
  font-family: var(--dialog-font-family); 
  min-width: var(--dialog-min-width);
}

.todo-item > div:nth-child(2) {
  margin-right: var(--todo-item-2nd-div-margin-right);
}
.todo-item > div:nth-child(3) {
  height: var(--todo-item-3rd-div-height);
  width: var(--todo-item-3rd-div-width);
}
.todo-item > div:nth-child(4) {
  padding: var(--todo-item-4th-div-padding); 
}
.todo-item > div:nth-child(5) {
  padding: var(--todo-item-5th-div-padding);
}
.todo-item > div:nth-child(6) {
  padding-right: var(--todo-item-6th-div-padding-right);
}

.todo-item > div > img:hover {
  background-color: var(--todo-item-hover-img-background-color);
}

.todo-item > div > img:active {
  background-color: var(--todo-item-active-img-background-color);
}

.todo-item > div > img {
  border-radius: var(--todo-item-img-border-radius);
}

.strikethrough {
  color: var(--strikethrough-color);
  text-decoration: var(--strikethrough-text-decoration);
}
